$font-base: 16;
$font-family: 'Open Sans', sans-serif;
$font-family-head: '';

$transition: 0.2s ease-in-out;

$primary:       #facf00;
$secondary:     #003764;
/*$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;
*/