.footer{
    background-color:var(--footer-bg);
    padding: 60px 0;

    .logo-unina,
    .logo-aprendiz {
        img {
            width: 150px;
        }
    }


   .redes{
        margin-left: auto;
        a{
            text-decoration: none;
            color: var(--social-link-color);
            display: inline-block;
            margin: 0 10px;
        }
        i{
            border-radius: 50px;
            padding: 10px;
            background-color: var(--social-link-bg);
        }
    }

    @media (max-width: 998px) {
        
        text-align: center;

        .logo-aprendiz,
        .logo-unina {
            img{
                display: block;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 40px;
            }
        }
        .redes{
            width: 100%;
            text-align: center;
            margin-left: initial;
        }
    }
}