.footer{
    background-color:var(--footer-bg);
    padding: 60px 0;

    .logo-unina,
    .logo-aprendiz {
        img {
            width: 150px;
        }
    }


    .redes{
        margin-left: auto;
        a{
            text-decoration: none;
            margin: 0 10px;
            height: 40px;
            width: 40px;
            align-items: center;
            justify-content: center;
            position: relative;
            
        }

        i{
            color: var(--social-link-color);
            border-radius: 50%;
            height: 40px;
            width: 40px;
            display: flex;
             align-items: center;
            justify-content: center;
            position: absolute;
            top: 0;
            left: 0;
            background-color: var(--social-link-bg);
            transition: all .32s ease;
        }
        &:hover {
            i {
                width: 50px;
                height: 50px;
                top: -5px;
                left: -5px;
            }
        }
    }

    @media (max-width: 998px) {
        
        text-align: center;

        .logo-aprendiz,
        .logo-unina {
            img{
                display: block;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 40px;
            }
        }
        .redes{
            width: 100%;
            text-align: center;
            margin-left: initial;
        }
    }
}