.fotos{
    padding: 60px 0;
    .texto-fotos{
        h2{
            line-height: 1;
            font-size: 3rem;
            color: var(--fotos-title-color);
        }

        
    }
    .gallery {
        width: 100%;
        ul, li {
            margin: 0;
            padding: 0;
            list-style: none;
        }
        ul {
            display: flex;
            flex-wrap: wrap;
        }
        li {
            width: 30%;
            padding: 10px;
            
            .foto-item  {
                border-radius: 10px;    
                overflow: hidden;
                position: relative;
                padding-top: 100%;
            }
            &:nth-child(4) {
                margin-left: 10%;
            }
            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;

            }
        }
    }


    @media (max-width: 991px) {
        background-size: cover;
        
    }
    @media (max-width: 767px) {
        .gallery {
            padding: 40px 0;
        }        
    }

}