.fotos{
    padding: 60px 0;
    position: relative;
    .texto-fotos{
        h2{
            line-height: 1;
            font-size: 3rem;
            color: var(--fotos-title-color);
        }

        
    }
    .gallery {
        width: 100%;
        ul, li {
            margin: 0;
            padding: 0;
            list-style: none;
        }
        ul {
            display: flex;
            flex-wrap: wrap;
        }
        li {
            width: 30%;
            padding: 10px;
            
            .foto-item  {
                border-radius: 10px;    
                overflow: hidden;
                position: relative;
                padding-top: 100%;
            }
            &:nth-child(4) {
                margin-left: 10%;
            }
            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;

            }
        }
    }


    @media (max-width: 991px) {
        background-size: cover;
        
    }
    @media (max-width: 767px) {
        .gallery {
            padding: 40px 0;
        }        
    }

}



/*
    EFEITO HALFTONE PATTERNS
*/
//--------

.fotos {
  overflow: hidden;
  > .container {
    position: relative;
    z-index: 10;
  }

  .halftone-wrapper {
    position: absolute;
    z-index: 0;
    height: 120%;
    width: 120%;
    top: 0;
    left: 0;
    opacity: .2;
        top: -20%;
    left: -70%;
    opacity: 0.1;
    transform: rotate(18deg);
  }

  .halftone  {
    height: 100%;
    width: 100%;
  }
}

@property --i0 {
  syntax: '<number>';
  initial-value: 0;
  inherits: true
}

@property --j0 {
  syntax: '<number>';
  initial-value: 0;
  inherits: true
}

@property --k0 {
  syntax: '<number>';
  initial-value: 0;
  inherits: true
}


.halftone-wrapper {
  --i0: .95;
  --j0: 0;
  --k0: 0;
  animation: 
    i0 3.2591s  infinite, 
    j0 6.6087s  infinite, 
    k0 4s  infinite;

  animation-direction: alternate;
  animation-timing-function: ease-in-out
}

.halftone {
  --dotSize: 0.25rem;

  --stop1: 0.06rem;
  --stop2: 0.85rem;

  position: relative;
  //adding contrast
  background: white;
  filter: contrast(16);
}

.halftone::after {
  /* Cover our element */
  content: '';
  position: absolute;
  inset: 0;


  /* Dotted background FADE STOP*/
  background-image: radial-gradient(
    circle at center,
    black var(--stop1),
    transparent var(--stop2)
  );

  background-size: 1.5rem 1.4rem;
  background-position: 0 0, 0.65rem 0.65rem;
  mask-image: radial-gradient(circle at calc(var(--j0)*100%) calc(var(--k0)*100%), rgb(0 0 0), #{rgba(black, .3)} calc(var(--i0)*100%));
  
}

@keyframes i0 { to { --i0: 1 } }
@keyframes j0 { to { --j0: .3 } }
@keyframes k0 { to { --k0: 1 } }



