
.banner {  
  background-repeat: no-repeat, repeat;
  
  background-position: 20% bottom, center center;
  background-color: var(--banner-bg-color);
  //background-size:cover;
  background-image: url(../image/banner-girl.png), url(../image/banner-pattern.png);

  .banner-ajust { 
    padding: 120px 0;  
    .texto-banner h2{
      font-size: 2rem;
      color: var(--banner-title-color);
      padding: 40px 0 30px 0;
    }
    .logo {
      img {
        width: 400px;
      }
    }
   .button-banner{
      max-width: 414px;
      width: 100%;
    }
  }
  

  @media (max-width: 1199px) {
    background-position: 10% bottom;
  }
  @media (max-width: 991px) {
    background-position: 0% bottom;
    background-size:50% auto;

    .banner-ajust {

        .content-banner{
          .texto-banner h2{
            font-size: 1.2rem;
            padding: 10px 0 20px 0;
          }
          .button-banner{
            font-size: 0.8rem;
          }
        }

      }
  }

  @media (max-width: 767px) {
     background-position: -50% bottom, center;
    background-size:auto 280px, auto;
    .banner-ajust {
      max-width: 55%;
      padding: 40px 0 70px;
      margin-left: auto;

      .content-banner{
        .texto-banner h2{
          font-size: 1rem;
        }
      }

      .logo {
        img {
          display: block;
          margin: 0 auto;
          width: 280px;
        }
      }
    }
  }
}
